body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h2{
  margin-top: 40px;
  color: #333;
}

/* =========================
   EXERCÍCIO 1
========================= */

.container1{
  display: flex;
  gap: 10px;
  background-color: #ddd;
  padding: 15px;
}

.container1 .item{
  background-color: steelblue;
  color: white;
  padding: 20px;
}


.container2{
  display: flex;
  gap: 10px;
  background-color: #ddd;
  padding: 15px;
}

.container2 .item{
  flex-grow: 1;
  padding: 25px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.container2 .item1{
  background-color: red;
}

.container2 .item2{
  background-color: blue;
}

.container2 .item3{
  background-color: green;
}

.container2 .item:hover{
  border-bottom: 5px solid black;
}



.container3{
  display: flex;
  gap: 10px;
  background-color: #ddd;
  padding: 15px;
}

.container3 .item{
  flex-grow: 1;
  padding: 25px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.container3 .item1{
  background-color: #1abc9c;
}

.container3 .item2{
  background-color: #3498db;
}

.container3 .destaque{
  flex-grow: 2;
  background-color: #9b59b6;
}

.container3 .item4{
  background-color: #e67e22;
}

.container3 .item5{
  background-color: #e74c3c;
}

.container3 .item:active{
  background-color: black;
}


.container4{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  background-color: #ddd;
  padding: 15px;
}

.container4 .item{
  background-color: crimson;
  color: white;
  padding: 20px;
}